
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/app.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>
<body>

	<div class="container">
		<!-- Redirect to /results after submission -->
		<form action="/" method="GET">
			<!-- And store into "search" whatever has been typed in -->
			<input type="text" name="search" placeholder="Search For A Movie">
			<input type="submit" name="">
		</form>
	</div>
	
	<!-- How to use JSON data from an API inside a human readable HTML Page -->
	<div class="container">
	
		<h1>Results</h1>
		<ul>
			<% data.Search.forEach(function(movie){ %>
				<li><%= movie.Title %> - <%= movie.Year %></li>
			<% }) %>
		</ul>
	
	</div>

</body>
</html>